.article-header {
	text-align: center;		

	hr {
		color: $muted_background_color;
		margin: 30px;
	}
}

.article-banner {
	height: 400px;
	background-repeat: no-repeat;
	background-size: cover;
}

/* only have fixed background on desktop */
@media screen and (min-width: 1024px) {
	.article-banner {
		background-attachment: fixed;
	}
}