.project-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	margin: 2%;
	text-align: center;
}

/* have to use media query below rather than % margins due to a bug in firefox */

.project-grid-element {
	margin: 25px;
}

@media screen and (max-width: 470px){
	.project-grid-element {
		margin: 10px;
	}
}